* {
  margin: 0px;
  padding: 0px;
}

.menu-container {
  background-color: rgb(32, 32, 32);
  padding: 20px;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menus {
  display: flex;
}
.logo img{
  width: 120px;
}
.item {
  margin-right: 10px;
  padding-right: 7px;
  font-size: 18px;
  cursor: pointer;
}
.item:hover {
  color: rgb(69, 7, 238);
}
.banner-img {
  width: 300px;
}
.banner-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  /* border: 2px solid gray; */
  color: white;
  background-image: url("./images/background.png"),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    background-size: cover;
    background-repeat: no-repeat;
}
.title{

font-size: 55px;
font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    margin:5px auto 0px;
    border-style:solid;
    padding:10px 20px;
    background-color:red;
    color: rgba(22, 2, 2, 0.895);
    border-radius: 20px;
    border-color: rgb(2, 144, 19);

}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row-reverse;
    padding: 10px;
}
.about-title{
    text-align: center;
    padding-top:20px;
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: rgb(222, 146, 59);
    margin-top:10px;
    color: rgba(22, 2, 2, 0.895);
    
}
.box-title{
    padding: 10px;

}
.box-description{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content:space-around;
    padding: 20px;
}